body{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
	color: #5C6AC4;
}
#canvas {
  border: 2px solid black;
  width: 728px;
  height: 750px;
  margin: auto;
}

#output{
  background-color: blue;
  width: 200px;
  height: 200px;
}