
html, body{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}
.title {
	color: #5C6AC4;
}
#canvas {
  width: min(70vh, 90vw);  
}

#output-and-console{
  margin-top: 1vh;
  width: auto;
  height: auto;

}

#buttons {
  display: flex;
  justify-content: space-between;

}
#points{
  font-family: 'emulogic';
  font-style: bold;
  text-shadow:
  -2px -2px 0 #000, /* Top-left shadow */
  2px -2px 0 #000,  /* Top-right shadow */
  -2px 2px 0 #000,  /* Bottom-left shadow */
  2px 2px 0 #000; 
  color: yellow;
}

#lives {
  font-family: 'emulogic';
  font-style: bold;
  text-shadow:
  -2px -2px 0 #000, /* Top-left shadow */
  2px -2px 0 #000,  /* Top-right shadow */
  -2px 2px 0 #000,  /* Bottom-left shadow */
  2px 2px 0 #000; 
  color: yellow;
}

#info-box{
  width: min(70vh, 90vw); /*tells browser to take the smaller of the two values, when the browser has greater height than width, the width of the info box is 90vw and if the browser's width is larger than the browser height, then 70vw will be picked*/
  display:flex;
  justify-content: space-between;
  align-items: center;
}
@font-face {
  font-family: 'emulogic';
  src: url('font-emulogic/emulogic.ttf') format('opentype');
}
