
html, body{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  background-image: url("image.png");
}
.title {
	color: #5C6AC4;
}
#canvas {
  width: min(70vh, 90vw);  
}

#output-and-console{
  margin-top: 1vh;
  width: auto;
  height: auto;
  font-family: 'emulogic';
  color: black;
  font-size: 13px;
  text-align: center;

}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#buttons button {
  margin: 10px;
}
#points{
  font-family: 'emulogic';
  font-style: bold;
  color: yellow;
}

#lives {
  font-family: 'emulogic';
  font-style: bold;
  color: yellow;
}

#info-box{
  width: min(70vh, 90vw); /*tells browser to take the smaller of the two values, when the browser has greater height than width, the width of the info box is 90vw and if the browser's width is larger than the browser height, then 70vw will be picked*/
  display:flex;
  font-size: medium;
  justify-content: space-between;
  align-items: center;
}
@font-face {
  font-family: 'emulogic';
  src: url('font-emulogic/emulogic.ttf') format('opentype');
}
